<html>
    <head>
        <%- include('static.ejs') %>
        <link rel="icon" href="fav.ico">
        <title>✧ Eureka! ~ CCCC</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div class="text">
        <h1>✧ EUREKA!</h1>
        <p>I found treasure!</p>
        <p>Splendid. Please complete the following questionaire.</p>
        <div class = "input-container">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <%# alias %>
                <div class = "input-item">
                <label for="alias">Your alias:</label>
                <input type="text" id="alias" name="alias" placeholder="Collector Jack">
                </div>

                <%# tag %>
                <div class = "input-item">
                <label for="tag">Please tag your item<br>(CTRL/CMD + click for multiple selections):</label>
                <select id="tag" name="tag" multiple>
                    <option value="" disabled selected>Select...</option>
                    <option value="Adjustable">Adjustable</option>
                    <option value="Architectural">Architectural</option>
                    <option value="Automaton">Automaton</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Consumable">Consumable</option>
                    <option value="Container">Container</option>
                    <option value="Currency">Currency</option>
                    <option value="Fluid">Fluid</option>
                    <option value="Heirloom">Heirloom</option>
                    <option value="Identification">Identification</option>
                    <option value="Leisure">Leisure</option>
                    <option value="Modular">Modular</option>
                    <option value="Perishable (Non-consumable)">Perishable (Non-consumable)</option>
                    <option value="Potential for change">Potential for change</option>
                    <option value="Potential for magic">Potential for magic</option>
                    <option value="Potential for violence">Potential for violence (These must be discarded immediately after documentation.)</option>
                    <option value="Prayer or ritual">Prayer or ritual</option>
                    <option value="Rare">Rare</option>
                    <option value="Sport">Sport</option>
                    <option value="Travel (Aplanetary)">Travel (Aplanetary)</option>
                    <option value="Travel (Interplanetary)">Travel (Interplanetary)</option>
                </select>
                </div>

                <%# description %>
                <div class = "input-item">
                <label for="description">Further describe the item:</label>
                <input type="text" id="description" name="description" placeholder="Like a marble, glows in dark...">
                </div>

                <%# location %>
                <div class = "input-item">
                <label for="location">Where found? Please be poetic.</label>
                <input type="text" id="location" name="location" placeholder="Underwater, at wit's end, airborne...">
                </div>

                <%# image %>
                <div class = "last-input-item">
                <label for="image">Please upload an image of your find.</label>
                <input type="file" id="image" name="image">
                </div>

                <div>
                <input type="submit" name="sbtn" value="Display for all to see">
                </div>
            </form>
        </div>
        <br>
        <h1>TREASURE CHEST</h1>
        <p>A collection of treasures found by our Collectors, ordered by recency.</p>
            <table>
                <tr>
                  <th>Found by</th>
                  <th>On</th>
                  <th>Where</th>
                  <th>Could be</th>
                  <th>Details</th>
                  <th>Picture</th>
                </tr>

                <% allPosts.forEach((post)=>{ %>
                    <div class = "post-item">
                        <tr>
                            <td class="alias"> <%= post.alias %></td>
                            <td class="date"> <%= post.date %> </td>
                            <td class="location"> <%= post.location %> </td>
                            <td class="tag"> <%= post.tag %> </td>
                            <td class="description"> <%= post.description %> </td>
                            <td class="table-image">
                                <% if(post.imgURL) { %>
                                    <img class="table-image" src="<%= post.imgURL %>">
                                <% } %>
                            </td>
                          </tr>
                    </div>
                <% } ) %>
            </table>
        </div>
        </div>
    </body>
</html>